body {
   font: 100% verdana, arial, sans-serif;
   font-size: 10px;
   background-color: #fff;
   margin:2; padding:0;
}

/* FF 100% height iframe */
html, div, iframe { margin:0; padding:0; }
iframe { display:block; width:100%; border:none; }
img { margin: 0 0 }

h1 {
   display: inline;
   float: left;
   font-size: small;
   margin: 0;
   padding: 0 10px;
}

h3 {
   display: inline;
   float: left;
   font-family:Verdana;
   font-size: 12px;
   margin: 0;
   padding: 0 10px;
}

h3:hover {
   background: #afa; /* set desired hover color */
}

table {
   border: 0px solid;font-family:Verdana;font-size: 10px;border-spacing: 0px;
}
tr.graphHeaderLeft {
   background: #eff7ff;border: #dcdcdc 1px solid;padding: 4px 12px 1px 1px;text-align: left;
}
th.graphHeader {
   background: #eff7ff;border-bottom: #dcdcdc 1px solid;border-top: #dcdcdc 1px solid;border-right: #dcdcdc 1px solid;padding: 4px 12px 1px 1px;text-align: left;
}
th.graphHeaderLeft {
   background: #eff7ff;border: #dcdcdc 1px solid;padding: 4px 12px 1px 1px;text-align: left;
}
td.graphItemLeft {
   background: #ffffff;border-bottom: #dcdcdc 1px solid;border-left: #dcdcdc 1px solid;border-right: #dcdcdc 1px solid;padding-left: 15px;padding-right: 15px;font-weight: bold;font-size: 10px;
}
td.graphItem {
   background: #ffffff;border-bottom: #dcdcdc 1px solid;border-right: #dcdcdc 1px solid;padding-left: 15px;padding-right: 15px;font-weight: bold;font-size: 10px;
}
td.pass {
   FONT-SIZE: 2px;BACKGROUND: #00df00;BORDER-TOP: #4AA02C 1px solid;BORDER-BOTTOM: #347235 1px solid;BORDER-RIGHT: #347235 1px solid;BORDER-LEFT: #4AA02C
1px solid;height:10px;width:8px; padding:0;
}
td.fail {
   FONT-SIZE: 2px;BACKGROUND: #df0000;BORDER-TOP: #7E3117 1px solid;BORDER-BOTTOM: #7E2217 1px solid;BORDER-RIGHT: #7E2217 1px solid;BORDER-LEFT: #7E3117
1px solid; height:10px; width:8px; padding:0;
}
td.ignored {
   FONT-SIZE: 2px;BACKGROUND: #FFFF00;BORDER-TOP: #9c9c9c 1px solid;BORDER-BOTTOM: #717D7D 1px solid;BORDER-RIGHT: #717D7D 1px solid;BORDER-LEFT: #9c9c9c
1px solid;height:10px;width:8px; padding:0;
}
td.norun {
   FONT-SIZE: 2px;BACKGROUND: #C2DFFF;BORDER-TOP: #9c9c9c 1px solid;BORDER-BOTTOM: #717D7D 1px solid;BORDER-RIGHT: #717D7D 1px solid;BORDER-LEFT: #9c9c9c
1px solid;height:10px;width:8px; padding:0;
}
